<!-- 顶部 -->
<div class="layui-header">
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="http://<{$_SERVER['HTTP_HOST']}>" target="_blank" title="前台">
                <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:clear_system_cache();" layadmin-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
        <span class="layui-nav-bar" style="left: 198px; top: 48px; width: 0px; opacity: 0;"></span>
    </ul>
    <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

        <li class="layui-nav-item" lay-unselect="">
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                <i class="layui-icon layui-icon-notice"></i>
                <!-- 如果有新消息，则显示小圆点 -->
                <span class="layui-badge-dot"></span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="<{STATIC_SERVER}>/<{$common_info.module}>/images/face.jpg" class="layui-circle" width="35" height="35">
                <cite><{$sys_admin.nickname}></cite>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">
                    <i class="iconfont icon-zhanghu" data-icon="icon-zhanghu"></i><cite>个人资料</cite></a>
                </dd>
                <dd><a href="javascript:;">
                    <i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>修改密码</cite></a>
                </dd>
                <dd><a href="javascript:;" onclick="logout();"><i class="iconfont icon-loginout"></i><cite>退出</cite></a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
    </ul>
</div>
<!-- 左侧导航 -->
<div class="layui-side layui-bg-black">
    <div class="navBar layui-side-scroll">
        <div class="layui-logo">
            <span id="tp-weather-widget"></span>
            <iframe scrolling="no" src="https://tianqiapi.com/api.php?style=yd&skin=pitaya&color=fff&paddingtop=10&align=center" frameborder="0" width="100%" height="30" allowtransparency="true"></iframe>
        </div>
        <div class="user-photo">
            <a class="img" title="我的头像"><img src="<{STATIC_SERVER}>/<{$common_info.module}>/images/face.jpg"></a>
            <p>你好！<span class="userName"><{$sys_admin.nickname}></span>, 欢迎登录</p>
        </div>
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item"><a href="/<{$common_info.module}>"><i class="layui-icon" style="font-size:16px; font-weight:bold;margin-right:5px;">&#xe68e;</i><cite>后台首页</cite></a></li>
            <{foreach $sys_menu as $k to $v}>
            <li class="layui-nav-item <{if $common_info.controller == $v.nid}>layui-this<{/if}>">
                <a href="<{$v.url}>">
                    <i class="layui-icon" style="font-size:16px; font-weight:bold;margin-right:5px;"><{$v.icon}></i><cite><{$v.name}></cite>
                </a>
            </li>
            <{/foreach}>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout();"><i class="layui-icon" style="font-size:16px; font-weight:bold;margin-right:5px;">&#xe651;</i><cite>退出管理</cite></a></li>
        </ul>
    </div>
</div>