<!DOCTYPE html>
<html>
<head>
	<{include file="public/head.html"}>
</head>
<body class="main_body">
<div class="layui-layout layui-layout-admin">
	<{include file="public/nav.html"}>
	<!-- 右侧内容 -->
	<div class="layui-body layui-form">
		<div class="layui-tab marg0" lay-filter="bodyTab">
			<div class="layui-tab-content clildFrame">
				<div class="layui-tab-item layui-show">
					<div class="childrenBody">
						<div class="layui-card layadmin-header mb10">
							<div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
								<a href="/<{$common_info.module}>">后台首页</a><span lay-separator="">/</span>
								<a href="/<{$common_info.module}>/<{$common_info.controller}>">栏目管理</a><span lay-separator="">/</span>
								<a><cite>栏目编辑</cite></a>
							</div>
						</div>
						<div class="layui-col-md12">
							<div class="layui-card">
								<div class="layui-card-header">栏目编辑</div>
									<div class="layui-card-body layui-row layui-col-space10">
										<form class="layui-form" action="" method="post" style="margin-top:20px;">
											<div class="layui-form-item">
												<div class="layui-inline">
													<label class="layui-form-label">所属栏目</label>
													<div class="layui-input-inline">
														<select name="pid" class="newsLook" style="width:150px;" lay-filter="browseLook" >
															<option value="0">顶级栏目</option>
															<{foreach $role as $val}>
															<option value="<{$val.id}>" <{if $res.pid == $val.id}>selected<{/if}>><{$val.name}></option>
															<{/foreach}>
														</select>
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline">
													<label class="layui-form-label">栏目名称</label>
													<div class="layui-input-inline">
														<input type="text" name="name" placeholder="请填写栏目名称" value="<{$res.name}>" class="layui-input newsName" />
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">栏目封面 </label>
												<div class="layui-input-block">
													<button type="button" class="btn btn-primary btn-sm layui-btn" style="float:left;" id="jq_upload"><i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>上传封面</button>
													<a style="float:left; margin-left:10px;<{if $res.icon == ''}>display:none;<{/if}>" id="jq_showpic" class="gsPic common-pic" href="javascript:;"><img title="点击查看源图" style="width:38px; height:38px;" src="<{$res.icon}>"></a>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-input-block">
													<input type="hidden" name="icon" value="<{$res.icon}>">
													<input type="hidden" name="id" value="<{$res.id}>">
													<button class="layui-btn" type="submit">立即保存</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script src="<{STATIC_SERVER}>/common/fileuploader.js"></script>
	<script>
		$(function(){
			//上传图片
			var uploader = new qq.FileUploaderBasic({
				button: document.getElementById('jq_upload'),
				multiple: false,
				action: "/<{$common_info.module}>/<{$common_info.controller}>/ajax_upload_images",
				inputName: 'img',
				forceMultipart: true,
				onComplete: function(id, fileName, result){
					if (result.status == 1) {
						$('#jq_showpic').attr("data-content", "<img src='" + result.data.full_path + "'>");
						$('#jq_showpic').find("img").attr("src", result.data.full_path);
						$('#jq_showpic').attr("href", result.data.full_path);
						$('input[name="icon"]').val(result.data.full_path);
						$('#jq_showpic').show();
					} else {
						layer.msg(result.msg);
						return false;
					}
				}
			});
		})
	</script>
	<!-- 底部 -->
	<{include file="public/foot.html"}>
</div>
</div>
</body>
</html>